/*@charset "utf-8";
/* CSS Document */

header, footer, section, article {
	display: block;
}
body {
	/*background-image: url(../images/bgimage.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: #CCC;
	margin: 0 auto;
	width: 940px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 100%;
}
div#pageWrap {
	margin: 0 auto;
	width: 940px;
	min-height: 100%;
	position: relative;
	background-color: #FFF;/*border-left: solid 1px #996600;
	border-right: solid 1px #996600;*/
}
h1 {
	color: orange;/*border: 1px solid #000000;*/
	
	
}
h2 {
	text-align: center;
	color: blue;
	padding: 15px;
}
header#top-curtain {
	width: 940px;
	height: 100px;
	margin: 0px auto;
	border: 0px solid #000000;
	/*text-align: center;*/
	background-color: #D9E6DB;/*background-image: URL("../backgrounds/gradient_1.jpg");*/
}
div#logo {
	float: left;
	width: 150px;
	height: 100px;
	background-image: url(../images/mount_logo.jpg);
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 25px;
}
nav {
	float: right;
	margin-top: 20px;
	width: auto;
	height: 50px;
	font-family: Geneva, Arial;
	position: relative;/*border: 1px solid #999;*/
	/*background-color: #D0DBF0;*/
}
div#body_wrap {
	width: 750px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 80px;
}
div#outer_grey {
	width: auto;
	height: auto;
	background-color: #adaaaa;
}
header#outer_grey_head {
	width: auto;
	height: 60px;
	background-color: #dcdcdc;
}
div#picHolder {
	background-color: #d9e6db;
	text-align: center;
	padding: 15px 5px 10px 5px;
	height: 240px;
}/*The contents of this to be treated as text*/
nav ul {/*Removes bullet points and strips list of positioning*/
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: relative;
}
nav ul ul {/*Target the ul's inside the list containing the hyperlinks*/
	position: relative;
	display: inline-block;
	margin-top: 12px;/*Try to minimise spacing between link boxes*/
	left: 9999px;
}
nav ul ul li {/*Target the individual li's inside the ul block containing the dropdown*/
	color: #0000ff;
	border-top: 3px solid #FFF;
}
nav ul ul a {/*Individual dropdown properties*/
	text-align: center;
}
nav li a {
	padding: 0px;
	width: auto;
	color: #0000ff;
	text-decoration: none;
}/*Targeted 'a' properties set*/
nav ul li {
	width: 75px;
	height: 45px;
	float: left;
	text-align: center;
	margin-right: 2px;
	background-color: #f8ebeb;
	border-right: 3px solid #FFF;
}
/*nav ul li a {margin-top: 3px;}*/
	

div#text_hold_one {
	width: 750px;
	height: auto;
	margin: 0 auto;
	background-color: #f8ebeb;
}/*Text and other content in here*/
div#text_hold_two {
	width: 700px;
	height: auto;
	margin: 0 auto;
	background-color: #f8ebeb;
	padding-bottom: 50px;
}/*Text and other content in here*/
div#second_outer_grey {
	width: auto;
	height: auto;
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-bottom: 10px;
	background-color: #f8ebeb;
}
header#second_outer_grey_head {
	width: 100%;
	height: auto;
	background-color: #dcdcdc;
}
/*Old Css Start*/

.initial {
	color: orange;
	float: left;
	font-size: 3em;
	padding: .02em;
	margin-right: .02em;
	line-height: .8em;
}
.hori {
	float: left;
	margin: 0px 15px 2px 5px;
}
.eve {
	margin: 0px 15px 2px 5px;
	float: right;
}
div#fuji {
	float: left;
	margin: 0px 15px 2px 20px;
}
div#Vin {
	padding: 2px 2px 20px 2px;
	text-align: center;
}
#factable {
	/*clip: rect(auto,auto,auto,auto);
	float: none;*/
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}
div#contact {
	text-align: center;
}
.clearBoth {
	clear: both;
}
div#footer {
	width: 100%;
	height: 80px;
	border: 0px solid #000000;
	text-align: left;
	background-color: #D9E6DB;
	position: absolute;
	bottom: 0;
	left: 0;
}
#footepara {
	margin-left: 10px;
	margin-top: 20px;
	color: #03F;
}
	
	
	
	/*a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: none;
}*/
